

</h2>Here are all your gadgets!</h2>

<% if !@user_gadgets.empty? %>
  <ul>
    <% @user_gadgets.each do |product| %>
      <li><a href= "/gadgets/<%= product.id %>"><%= product.gizmo %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You don't currently have any gadgets! Would you like to <a href="/gadgets/new">add one</a>?</p>
<% end %>
<br>

<a href="/gadgets/new">New Gadget</a>