



    <form action="/chores/<%= @chore.id %>" method="post">
      <label for="gizmo">Gizmo</label>
      <input type="text" name="gizmo" ><br>
      <input type="submit" value="submit">
    </form>