
<%# 
<form action="/gadgets" method="post">

    <label for="gizmo">New Chore:</label><br>
    <textarea name="gizmo" id="gizmo" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Post Chore">

</form> %>



    <form action="/chores/<%= @chore.id %>" method="post">
      <label for="gizmo">Gizmo</label>
      <input type="text" name="gizmo" ><br>
      <input type="submit" value="submit">
    </form>