<%# <h2>Welcome, <%= current_user.username %>

<a href="/chores/new">New Chore</a>

<% @chores.each do |mess| %>
    <%= erb :'chores/_chore', locals: {user: mess.user, chore: mess} %>
<% end %>






