<% if !!@message %>
   <p class="danger"><%= @message %></p>
<% end %>



<form action="/chores" method="post">

    <label for="task">New Chore:</label><br>
    <textarea name="task" id="task" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Post Chore">

</form>